<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Player List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
	<h1>List of players who are online</h1>
	<table class="table table-striped table-dark">
	<thead>
	<tr>
	<th scope ="col">Username</th>
	<th scope ="col">Full name</th>
	<th scope ="col">Birthdate</th>
	<th scope ="col">Email</th>
	<th scope ="col">Password</th>
	<th scope ="col">Server</th>
	</tr>
	<tbody>
		<tr th:each = "player : ${players}">
		<td th:text="${player.playerName}">
		<td th:text="${player.name}">
		<td th:text="${player.birthDateYear}">
		<td th:text="${player.email}">
		<td th:text="${player.password}">
		<td th:text="${player.server.name}">
		<td class="btn btn-success" style="width: 150px;height: 50px;" > <a th:href="@{/edit/{id}(id=${player.id})}">Edit Player</a></td>
		<td class="btn btn-danger" style="width: 150px;height: 50px; margin-bottom: 2%;" > <a th:href="@{/delete/{id}(id=${player.id})}">Delete Player</a></td>
	</tbody>
	</table>
	<button onclick="location.href='http://localhost:8080/add'" class="btn btn-success" style="width: 150px;height: 50px" >Add Player</button>
	
	
    </body>
</html>