<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>All the servers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body class="bg-secondary" style="color: white;">
	<h1 class="text-center">List of the servers</h1>
	<table class="table table-striped table-dark">
	<thead>
	<tr>
	<th scope ="col">Server name</th>
	<th scope ="col">Server capacity</th>
	</tr>
	<tbody>
		<tr th:each = "server : ${servers}">
		<td th:text="${server.serverName}">
		<td th:text="${server.capacity}">
		
		
		<td sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-success" style="width: 150px;height: 50px;"> <a th:href="@{/editServer/{id}(id=${server.id})}">Edit Server</a> </td>
		<td sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-danger" style="width: 150px;height: 50px; margin-bottom: 2%;"> <a th:href="@{/deleteServer/{id}(id=${server.id})}">Delete Server</a>
</td>
	</tbody>
	</table>
	<button onclick="location.href='http://localhost:8080/addserver'" class="btn btn-success" style="width: 150px;height: 50px" >Add server</button>
	<button onclick="location.href='http://localhost:8080/playerlist'" class="btn btn-success" style="width: 220px;height: 50px" >Playerlist</button>
	<button sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='http://localhost:8080/servercomputerlist'" class="btn btn-success" style="width: 220px;height: 50px" >Server Computers</button>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    </body>
</html>